html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
}

.main {
  flex: auto;
  display: flex;
}

.inner {
  width: 100%;
  display: flex;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
}

.content {
  flex: 1 1 0px;

  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
}

