$navbarTextColor: #EBE3CA;

.navbar {
  a {
    color: $navbarTextColor;
    text-decoration: none;
  }

  label {
    color: $navbarTextColor;
  }

  div {
    display: inline-flex;
    margin: 0 10px;

    input[type="checkbox"] {
      margin: 5px 0 0;
    }
  }
}