$mainColor: #CCCCFF;
$firstColor: #CCCCCC;
$secondColor: #669999;

$heightHeader: 0px;
$heightNavbar: 40px;
$heightFooter: 0px;
$widthSidebar: 20px;

.header, .navbar, .content, .footer, .sidebar {
  box-sizing: border-box;
  margin: 2px;
}

.header, .navbar, .footer, .sidebar {
  padding: 10px;
}

.header {
  flex: 0 0 $heightHeader;
  background-color: $firstColor;
}

.navbar {
  flex: 0 0 $heightNavbar;
  background-color: $secondColor;
  display: inline-flex;
  justify-content: center;
}

.footer {
  flex: 0 0 $heightFooter;
  background-color: $firstColor;
}

.sidebar {
  flex: 0 0 $widthSidebar;
  flex-direction: column;
}

.sidebar.left {
  background-color: $firstColor;
}

.sidebar.right {
  background-color: $firstColor;
}

.content {
  background-color: $mainColor;
}