.sidebar.left {
  .example {
    cursor: pointer;
    align-self: center;

    &:hover {
      color: #f0f8ff;
    }

    &.active {
      cursor: default;
      font-size: 25px;
      color: #000000;
      font-weight: 600;
    }
  }
}